<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XM Test Suite" parallel="tests" thread-count="3">
    <test name="XM Test">
       <!-- <parameter name="browser" value="chrome"/>
        <parameter name="width" value="1920"/>
        <parameter name="height" value="1080"/>-->
        <classes>
            <class name="com.xm.tests.XMTest"/>
        </classes>
    </test>


</suite>
